<!DOCTYPE html>
<html lang="fr-BE">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>FND - Fake News Dectector</title>
    <link href="../static/styles/css/game.css" rel="stylesheet">
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet">
    <link href="../static/styles/css/bootstrap-grid.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="../static/assets/logo.jpeg"/>


</head>

{% include 'navbar.html' %}

<body>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="text-center" style="padding-top: 10px">Le jeu de la vérité</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="text-center">
                Joueur
            </h4>
        </div>
        <div class="col-6 text-center" id="article-counter">
            Article 1 sur 5
        </div>
        <div class="col">
            <h4 class="text-center">
                IA
            </h4>
        </div>
        <div class="w-100">
        </div>

        <div class="col">
            <p class="text-center" id="player-score">0</p>
        </div>
        <div class="col-6">
            <section>
                <p class="text-center" id="article-content">
                    <!--{{article_content_fr}}-->
                </p>
            </section>


        </div>
        <div class="col">
            <p class="text-center" id="AI-score">
                0
            </p>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <p class="text-center">
                <br>

                <button id="but_true" type="button" class="btn btn-success">Vrai</button>
                <button id="but_false" type="button" class="btn btn-danger">Faux</button>
                <button id="but_original" type="button" class="btn btn-primary">Afficher l'original</button>
            </p>
        </div>


    </div>


    <div id="myModal_answer" class="modal">
        <!-- Modal content -->
        <div class="modal-perso">
            <center><img id="player_answer_img" src="" style="height: 25%; width: 25%"> <img id="robot_answer_img"
                                                                                             src=""
                                                                                             style="height: 25%; width: 25%">
            </center>
        </div>

    </div>

    <div id="myModal_finish" class="modal">
        <!-- Modal content -->
        <div class="modal-perso">
            <h1 id="victory_or_defeat" class="text-center"></h1>
            <p id="player_score_finish" class="text-center">Voici votre score: </p>
            <p id="ai_score_finish" class="text-center">Voici le score de l'IA: </p>
            <p class="text-center" id="replay-text">Voulez vous rejouer une partie?</p>
            <center>
                <button class="btn btn-success" id="yes_replay"
                        onclick="window.location.href='{{ url_for( 'game' ) }}';">Oui, je veux rejouer
                    !
                </button>
                <button class="btn btn-danger" id="no_replay"
                        onclick="window.location.href='{{ url_for( 'index' ) }}';">Non, je ne veux pas
                </button>
            </center>
        </div>

    </div>
</div>

</body>

<script>
    var translated_article = {{article_content_fr|tojson|safe}};
    console.log(translated_article)
    var original_article = {{article_content_en|tojson|safe}};
</script>
<script src="../static/js/functions.js?15"></script>

</html>
