<!DOCTYPE html>
<html lang="fr-BE">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>FND - Fake News Dectector</title>
    <link href="../static/styles/css/game.css" rel="stylesheet">
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet">
    <link href="../static/styles/css/bootstrap-grid.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

{% include 'navbar.html' %}

<body>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-4">
            <h2 class="text-center" style="padding-top: 10px">Le jeu de la vérité</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="text-center">
                Joueur :
            </h4>
        </div>
        <div class="col-6 text-center">
            Article
        </div>
        <div class="col">
            <h4 class="text-center">
                IA :
            </h4>
        </div>
        <div class="w-100">
        </div>

        <div class="col">
            <p class="text-center" id="player-score">0</p>
        </div>
        <div class="col-6">
            <section>
                <p class="text-center">
                    {{article_content}}
                </p>
            </section>


        </div>
        <div class="col">
            <p class="text-center" id="AI-score">
                0
            </p>

        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <p class="text-center">
                <br>

                <button id="but_true" type="button" class="btn btn-success">Vrai</button>
                <button id="but_false" type="button" class="btn btn-danger">Faux</button>

            </p>
        </div>


        <div id="myModal_true" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <p>true</p>
            </div>

        </div>

        <div id="myModal_false" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <p>false</p>
            </div>

        </div>

    </div>
</div>

</body>
<script src="../static/js/functions.js?3"></script>

</html>
