<!DOCTYPE html>
<html lang="fr-BE">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>FND - Fake News Dectector</title>
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet">
    <link href="../static/styles/css/index.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/assets/logo.jpeg" />

</head>

{% include 'navbar.html' %}

<div class="jumbotron d-flex align-items-center" style="height: 100vh; background-color: #fcfcfc">
    <div class="container text-center">
        <h1>
            Bienvenue sur notre Détecteur <br>de Fake News !
        </h1>
        <h4>
            <br>
            <button type="button" onclick="window.location.href='{{ url_for( 'game' ) }}';"
                    class="btn btn-primary btn-lg"
                    style="padding: 32px 60px; background-color: #78508D; border-color: #78508D">Jouer
            </button>
            <br> <br>
            <button id ="buttonShowCopyPasteZone" type="button" onclick="toggleShow()"
                    class="btn btn-primary btn-lg"
                    style="padding: 32px 60px; background-color: #78508D; border-color: #78508D">Soumettre son propre texte
            </button>
            <br><br>
            <div id="copyPasteZone" style="display: none">
               <textarea id ="textToAnalyse" rows="15" cols="50">
                   Coller votre article ici
                   Paste your article here
               </textarea>
                <br> <br>
                <button type="buttonSubmitText" onclick="SendTextToServer()"
                    class="btn btn-primary btn-lg"
                    style="padding: 32px 60px; background-color: #78508D; border-color: #78508D">Soumettre à analyse
            </button>
            </div>
        </h4>
    </div>
</div>
<script src="../static/js/functions.js?15"></script>


</html>
