<!DOCTYPE html>
<html lang="fr-BE">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>FND - Fake News Dectector</title>
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet">
    <link href="../static/styles/css/index.css" rel="stylesheet">

</head>

<div class="jumbotron d-flex align-items-center" style="height: 100vh; background-color: #fcfcfc" >
    <div class="container text-center">
        <h1>
            Bienvenue sur notre Détecteur <br>de Fake News !
        </h1>
        <h4>
            <br>
            <button type="button" onclick="window.location.href='{{ url_for( 'game' ) }}';"
                    class="btn btn-primary btn-lg"
                    style="padding: 32px 60px;">Jouer
            </button>
        </h4>
        </div>

    </div>
</html>